div{
    border: 1px solid red;
}

*{
    box-sizing: border-box;
    /*
        https://developer.mozilla.org/ko/docs/Web/CSS/box-sizing
        
        http://ko.learnlayout.com/box-sizing.html
        https://opentutorials.org/course/2418/13405

    */
}

body{
    background : #ff00ff;
    color: #fff;

    line-height: 1.6;
    font-family: sans-serif;

    padding: 1em;
}

.container{
    max-width: 840px;
    margin: auto;
    padding: 1em;
}

ul{
    list-style: none;
    padding: 0;
}

.brand{
    text-align: center;
}


.brand span{
    color: #00ff00;
}

.wrapper{
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
    /*
        https://developer.mozilla.org/ko/docs/Web/CSS/box-shadow

        https://msdn.microsoft.com/ko-kr/library/gg589484(v=vs.85).aspx

    */
}

.wrapper > * { /* https://developer.mozilla.org/ko/docs/Web/CSS/Child_selectors */
    padding : 1em;
}